/*general:*/
body {
    background-color: rgb(240, 240, 240) !important;
}
h2 {
    font-size: 4.5rem;
}
html {
    scroll-behavior: smooth;
}
li {
    padding-right: 1rem !important;
}

/*classes:*/

.show-border {
    border: 1px solid black !important;
}

.arrow-left {
    border: 2px solid black;
    background: rgb(248, 249, 250) !important;
    width: 40px;
    border-radius: 50%;
    padding: 0.5rem;
    position: fixed;
    top: 2rem;
    left: 2rem;
    animation: left-and-right 3s ease-in;
    animation-iteration-count: infinite;
    z-index: 1001;
    transition: 0.5s all cubic-bezier(0.7, 1, 1, 1);
}

.arrow-up {
    border: 2px solid black;
    background: rgb(248, 249, 250) !important;
    width: 50px;
    border-radius: 50%;
    padding: 0.5rem;
    position: fixed;
    bottom: 2rem;
    right: 2rem;
    opacity: 0;
    animation: up-and-down 3s ease-in;
    animation-iteration-count: infinite;
    z-index: 1001;
    transition: 0.5s all cubic-bezier(0.7, 1, 1, 1);
}

.background-image img {
    max-width: 100vw;
}

.arrow-up:hover {
    background: rgb(221, 221, 221) !important;
    cursor: pointer;
}

.arrow-left:hover {
    background: rgb(221, 221, 221) !important;
    cursor: pointer;
}

.arrow-up.fade-in {
    opacity: 1;
}

.body-spacing {
    padding: 10rem 2rem 0 2rem;
}

.picture-category-heading {
    margin-bottom: 2rem;
}

.image-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 6rem;
}

.showPicturesButton {
    display: none;
}

.image-container-thumbnails {
    display: flex;
    border: 2px solid black;
    margin-bottom: 5rem;
}

.card-title-custom {
    font-size: 1.2em;
}

.card-footer-custom {
    color: #5e5e5e;
    font-size: 0.85em;
}

.px-md-custom {
    padding-left: 6rem !important;

}

.navbar-custom {
    width: 100%;
    padding: 20px;
    /*background-color: white;*/
}

.disappear {
    opacity: 1;
    transition: 0.05s all ease;
}

.disappear.thisOne a {
    opacity: 0;
}

.shrink {
    transition: 0.1s all ease;
}

.shrink.thisOne {
    width: 0 !important;
}

.shrink.thisOne.navbar {
    border: none;
}

.zoom {
    overflow: hidden;
}

.zoom img {
    transition: 0.2s all ease-in-out;
}

.zoom p {
    position: absolute;
    z-index: 5;
    left: 0;
    top: 50%;
    transform: translate(-100%, -50%);
    font-size: 2rem;
    color: white;
    transition: 0.05s all ease-in;
}

.zoom:hover {
    cursor: pointer;
}

.zoom:hover img {
    transform: scale(1.2);
    filter: brightness(50%);
}

.zoom:hover p {
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.loading-page {
    position: absolute;
    width: 100vw;
    height: 100vh;
    background: #0a0a0a;
    z-index: 1001;
    opacity: 0.7;
    display: none;
}

.loading-page p {
    position: absolute;
    left: 50%;
    top: 50%;
    font-size: 2rem;
    color: white;
    opacity: 0.85;
    z-index: 1002;
    transform: translate(-50%, -50%);
    animation: highlight-text 1s infinite;
}

.loading-page.activate {
    display: block;
}

.body-no-scrolling {
    height: 100%;
    overflow-y: hidden;
}

/* keyframe */

@keyframes emphasis {
    0% {
        transform: scale(1);
    }
    100% {
        transform: scale(1.1);
    }
}

@keyframes highlight-text {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes up-and-down {
    0% {
        transform: translateY(0);
    }
    10% {
        transform: translateY(-1rem);
    }
    20% {
        transform: translateY(0);
    }
    80% {
        transform: translateY(0);
    }
    90% {
        transform: translateY(-1rem);
    }
    100% {
        transform: translateY(0);
    }
}

@keyframes left-and-right {
    0% {
        transform: translateX(0);
    }
    10% {
        transform: translateX(-1rem);
    }
    20% {
        transform: translateX(0);
    }
    80% {
        transform: translateX(0);
    }
    90% {
        transform: translateX(-1rem);
    }
    100% {
        transform: translateX(0);
    }
}

/* Media: */

@media (min-width: 768px) {
    h2 {
        font-size: 4rem;
    }
}

@media (max-width: 620px) {
    h2 {
        font-size: 2.5rem;
    }

    .body-spacing {
        padding: 8rem 2rem 0 2rem;
    }

    .picture-category-heading {
        margin-bottom: 2rem;
    }
}

@media (max-width: 410px) {
    h2 {
        font-size: 1.6rem;
    }

    .body-spacing {
        padding: 8rem 2rem 0 2rem;
    }

    .picture-category-heading {
        margin-bottom: 2rem;
    }

    .arrow-left {
        width: 25px;
    }

    .navbar-toggler-icon {
        width: 1em;
    }
}

@media (min-width: 1199px) {
    .showPicturesButton {
        display: flex;
    }


    .image-container {
        margin-bottom: 18rem;
    }

}